<div class="justify-content-center"></div>
  <h2>Trooper Deployment</h2>
  <div class="game-info">
    <p>This game involves pinning two different troopers against each other in one-on-one combat. However, the outcome could be different depending on who shot first.</p>
  </div>
  
  <div class="trooper-deploy">
    <div class="row">
    <select id="deployed-trooper1" #deployedTrooper1 style="padding: 8px; margin: 8px;">
      <option *ngFor="let trooper of troopers" [ngValue]="trooper">{{trooper.name}}</option>
    </select>

    <select id="deployed-trooper2" #deployedTrooper2 style="padding: 8px; margin: 8px;">
      <option *ngFor="let trooper of troopers" [ngValue]="trooper">{{trooper.name}}</option>
    </select>
  </div><br />
    <!-- (click) passes input value to add() and then clears the input -->
    <div class="battle-button">
      <button type="button" class="add-button" (click)="getDeployedTroopers(deployedTrooper1.value, deployedTrooper2.value);">
        Begin Battle
      </button>
    </div>
  </div>
<div class="messages">
  <ul class="troopers">
    <li *ngFor="let deployedTrooper of deployedTroopers">
      <a routerLink="/detail/{{deployedTrooper.id}}">
        <span class="badge">{{deployedTrooper.id}}</span> {{deployedTrooper.name}}
      </a>
    </li>
  </ul>
</div>